@page
@model TeacherAdmin.Pages.LessonsReports.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LessonBlog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonBlog.SlidesUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonBlog.SlidesUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonBlog.Grammar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonBlog.Grammar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonBlog.Vocab)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonBlog.Vocab)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonBlog.NextLessonIdeas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonBlog.NextLessonIdeas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonBlog.TimeAndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonBlog.TimeAndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LessonBlog.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
